<%= simple_form_for(@incident) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :description %>
    <%= f.label :initial_service_rating %>
    <%= f.select :initial_service_rating, options_for_select([['Client Issue', 0],
                                                              ['Service Degradation/Interruption', 1], 
                                                              ['K: or J:, Listserv, Wiki or Blog Outage', 2],
                                                              ['Pharos Outage, CRM or Academic Software Outage', 3],
                                                              ['Blackboard, MyMav, CS Gold or Web Hosting Outage', 4],
                                                              ['Email, Network, AD, LDAP, Self Service, or Phone Outage', 5]], 
                                                              @incident.initial_service_rating ) %>
    <%= f.label :service_impact %>
    <%= f.select :service_impact, options_for_select([['No Effect', 0], 
                                                      ['Minor Effect', 1], 
                                                      ['Significant Effect', 2], 
                                                      ['Multiple Services Affected', 3], 
                                                      ['Service(s) Down', 4],
                                                      ['Critical Service Disruption', 5]], 
                                                      @incident.service_impact)%>
    <% if @incident.time_impact %>
    <%= f.label :time_impact %>
      <div class="impact-max"><%= @incident.time_impact %></div>
    <% end %>
    <% if @incident.escalation_policy %>
    <%= f.label :escalation_policy %>
      <div class="impact-max"> <%= @incident.escalation_policy %></div>
    <% end %>
  </div>
  <div class="span5 form-actions">
  <div style="text-align:center">
    <%= f.button :submit %> |
    <% if @incident.id %>
    <%= link_to 'Destroy', @incident, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn" %> |
    <% end %>
    <%= link_to 'Back', incidents_path, class: "btn" %>        
  </div>
  </div>
<% end %>
