<p id="notice"><%= notice %></p>

<p>
  <strong> Description: </strong>
  <%= @incident.description %>
</p>

<p>
  <strong>Impact index:</strong>
  <%= @incident.impact_index %>
</p>

<p>
  <strong>Initial service rating:</strong>
  <%= @incident.initial_service_rating %>
</p>

<p>
  <strong>Service impact:</strong>
  <%= @incident.service_impact %>
</p>

<p>
  <strong>Time impact:</strong>
  <%= @incident.time_impact %>
</p>

<p>
  <strong>Escalation policy:</strong>
  <%= @incident.escalation_policy %>
</p>

<p>
  <strong>Owner:</strong>
  <%= @incident.user.netid %>
</p>

<%= link_to 'Edit', edit_incident_path(@incident) %> |
<%= link_to 'Back', incidents_path %>
